@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

:root {
  /* height */
  --defaultHeight: 1140px;
  /* color */
  --red-50: rgb(255, 233, 233);
  --red-100: rgb(255, 186, 186);
  --red-200: rgb(255, 152, 152);
  --red-300:  rgb(255, 106, 105);
  --red-400: rgb(255, 77, 76);
  --red-500: rgb(255, 32, 31);
  --red-600: rgb(232, 29, 28);
  --red-700: rgb(181, 23, 22);
  --red-800: rgb(140, 18, 17);
  --red-900: rgb(107, 13, 13);
  /* font size */
  --48: 48px; 
  --40: 40px; 
  --32: 32px; 
  --26: 26px; 
  --20: 20px; 
  --16: 16px; 
  --12: 12px; 
  /* font weight */
  --Regular: 400;
  --Medium: 500;
  --SemiBold: 600;
  --Bold: 700;
}

body {
  background-color: var();
}